.wrapper
  = render partial: "usersheader"

  .users-situation
    %h1
      在庫状況
    .users-situation__contents
      - @masks.each do |mask|
        .users-situation__contents__content
          .users-situation__contents__content__maker
            = mask.maker
          .users-situation__contents__content__size
            = mask.size
          .users-situation__contents__content__stock
            = "#{mask.stock}箱" 
          = link_to "在庫編集", edit_mask_path(mask.id), class: "users-situation__contents__content__edit"
  .users__btn
    = link_to "新規在庫", new_mask_path, class: "users__btn__new"
